.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;

  > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .link {
    margin: 0 2rem;
    color: var(--green-color);

    &.active,
    &:hover{
        color: var(--accent-color)
      }
    }
  }
.menuItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}