.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; //выравнивание по центру
  color: var(--black-color);
}
.aboutMe{
  max-width: 1160px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.title{
  text-align: right;
  width: 42%;
  font-size: 32px;
}
.text{
  margin: 0;
  width: 50%;
  font-size: 18px;
}