@font-face {
    font-family: "ClashDisplay";   /*Can be any text*/
    src: local("ClashDisplayRegular"),
    url("./fonts/ClashDisplay-Regular.ttf") format("truetype");
}
h1,h2{
    font-family: 'ClashDisplay';
}