.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; //выравнивание по центру
  font-family: 'Open_Sans';
}
.menu{
  max-width: 350px;
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 125px;
}